.container {
  background-color: var(--statementBlockBg);
  padding: 150px 0;
}

.title {
  font-size: clamp(24px, 3vw, 30px);
  font-weight: 400;
  color: var(--foreground);
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--foreground);
}

@media (max-width: 600px) {
  .container {
    padding: 50px 0;
  }
}
