.container {
  margin-top: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 120px 0;
}

.categoryContainer {
  padding: 20px;
  background-color: var(--storeInfoBlock);
}

.categoryLink {
  text-decoration: none;
  color: var(--foreground);
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
}

.productsGridWrapper {
  padding-top: 100px;
}

.sliderImage {
  width: 100%;
  height: 100%;
}

.sliderImageWrapper {
  position: relative;
  height: 300px;
  margin-bottom: 40px;
}

.description {
  white-space: pre-line;
  font-size: 14px;
  color: var(--foreground);
  font-weight: 400;
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: var(--foreground);
  margin-bottom: 6px;
}

.price {
  font-size: 14px;
  font-weight: 400;
  color: var(--foreground);
}

.tagsText {
  font-size: 13px;
  color: var(--foreground);
  font-weight: 400;
  text-transform: uppercase;
}

.sectionTitle {
  font-size: clamp(24px, 3vw, 30px);
  color: var(--foreground);
  font-weight: 400;
  margin-bottom: 20px;
}

.sectionSubtitle {
  font-size: 14px;
  color: var(--foreground);
  font-weight: 400;
  margin-bottom: 5px;
}

.sectionDescription {
  font-size: 16px;
  color: var(--foreground);
  font-weight: 400;
  margin-bottom: 32px;
}

.allLinkWrapper {
  margin-top: 32px;
}

.allLink {
  font-size: 14px;
  color: var(--foreground);
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

.sliderCard {
  background-color: transparent;
  margin-bottom: clamp(20px, 3vw, 40px);
}

.sliderCard:hover {
  background-color: var(--storeInfoBlock);
}

.sliderBtnWrapper {
  visibility: hidden;
}

.sliderCard:hover .sliderBtnWrapper {
  visibility: visible;
}

.sliderBtn {
  background-color: var(--foreground);
  border: 0;
  padding: 19px 23px;
  display: block;
  width: 100%;
  color: var(--background);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.gridTitleWrapper {
  margin-bottom: clamp(24px, 3vw, 48px);
}

@media (max-width: 600px) {
  .sliderImageWrapper {
    height: 200px;
    margin-bottom: 16px;
  }
  .sliderBtnWrapper {
    visibility: visible;
  }
  .sliderBtn {
    background-color: transparent;
    color: var(--foreground);
    border: 1px solid var(--cartBtnBorder);
  }
}
