.container {
  background-color: var(--foreground);
  padding: 68px 10px 48px 10px;
}

.bottomWrapper {
  margin-top: clamp(40px, 5vw, 150px);
}

@media (max-width: 600px) {
  .container {
    padding: 35px 5px 40px 5px;
  }
}
